.header{
    text-align: center;
}

.container {
    overflow:hidden;
    text-align: center;

  }

  #box {
    padding: 20px;
    font-size : 20px;
    background-color: antiquewhite;
    display: inline-block;
  }